# Docker 环境文件
.env
.env.local

# 工作区文件
models/*

# 日志文件
*.log
*.bag

# 临时文件
*.tmp
*.temp

# IDE 文件
.vscode/
.idea/

# OS 文件
.DS_Store
Thumbs.db

workspace/dataset/*
workspace/dataset_backup/*
workspace/yolo_train/dataset/*
workspace/yolo_dataset/*

*.pyc
__pycache__/
*.pyo

dataset/
