<?xml version="1.0"?>
<launch>
    <!-- YOLO11推理节点 - Iris机型专用启动文件 -->
    
    <node name="iris_yolo11_inference_node" 
            pkg="perception" 
            type="yolo11_inference.py" 
            output="screen"
            respawn="false">
        
        <!-- 基本参数 -->
        <param name="aircraft_type" value="iris"/>
        <param name="model_path" value="/root/workspace/src/perception/models/yolo11n_original.pt"/>
        <param name="confidence_threshold" value="0.6"/>
        <param name="iou_threshold" value="0.45"/>
        <!-- 点云参数 -->
        <param name="publish_pointcloud" value="true"/>
        
    </node>
    
</launch>
